@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html,
body {
  height: 100%;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  height: 100vh;
}
/* Estilo del scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background: #00000003; /* Color del track del scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #333746; /* Color del thumb del scrollbar */
  border-radius: 10px; /* Bordes redondeados del thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del thumb al pasar el mouse */
}

/* body {
  @apply bg-gray-900 text-blue-300;
} */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
